.container{
  display: none;
}

@media(min-width:990px){

  .container {
    background-color: #7ecdda;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Fjalla One', sans-serif;
    
  }
  
  .nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .nav-options {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .nav-options a{
    color: white !important;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 22px;
  }
  
  .social-links {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-link-item {
    margin-bottom: 10px;
  }

  .connect-button-container {
    position: relative;
    margin-top: -3.1rem;
  }

  .connect-btn{
    background: #492F7A;
    border: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: .5rem;
  }

  .connect-btn-text-container-box {
    display: flex;
    padding: 0.1rem;
    border: 1px solid #FFE154;
    border-radius: .5rem;
    color: white;
  }

  .connect-btn-text {
    max-width: 5rem;
    word-break: break-word;
    margin-left: 0.5rem;
  }
  
}