/* Chrome, Safari, Edge, Opera */
.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

/* Firefox */
.hide-arrows {
  -moz-appearance: textfield;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.logotype-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logotype-desc p {
  font-size: 16px;
  text-align: justify;
  color: white;
  margin: 0;
}

.min-max {
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.cost {
  display: flex;
  flex-direction: column;

  color: white;
  padding-top: 12px;
  border-top: 2px solid black;
}

.feedback {
  max-width: 18rem;
  overflow-x: auto;
}

@media (min-width: 990px) {
  .logotype-desc {
    flex-direction: row;
    align-items: center;
  }

  .min-max {
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .min-max img {
    cursor: pointer;
  }

  .cost {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback {
    max-width: 28rem;
  }
}
