.container {
  height: 474px;
  width: 100%;
  background: url("../../public/img/banner-sm.svg") center;

  background-repeat: no-repeat;
  background-size: unset;

  display: flex;
  justify-content: center;
}

.pad-xl {
  display: none;
}

.welcome {
  width: 100%;
}

.wolfi-welcome {
  display: none;
  justify-content: center;
  align-items: flex-end;
}

.wolfi-welcome-sm {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 305px;
}

.wolfi-welcome-sm img {
  width: 200px !important;
}

.welcome-sm {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
}

.mint-now-sm {
  margin-top: 20px;
}

.right-box {
  display: none;
}

/* .welcome-sm  h1 {
  color: #3D2B7D;
  font-family: 'Fjalla One';
  font-weight: 300;
  text-transform: uppercase;
  font-size: 32px;
} */

.mint-now {
  display: none;
}

@media (min-width: 429px) {
  .container {
    background-image: url("../../public/img/banner1.svg");
    background-position: center;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  .wolfi-welcome-sm img {
    width: 280px !important;
  }
}

@media (min-width: 990px) {
  .container {
    height: 92vh;
    background-image: url("../../public/img/banner1.svg");
    background-position: center;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  .wolfi-welcome-sm {
    display: none;
  }

  .wolfi-welcome {
    display: flex;
  }

  .welcome-sm {
    display: none;
  }

  .pad-xl {
    display: unset;
  }

  .pad-sm {
    display: none;
  }

  .welcome {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .mint-now-sm {
    display: none;
  }

  .mint-now {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 50px;
  }

  .left-box {
    width: 33%;
    background-image: url("../../public/icons/Welcome 1.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .right-box {
    background-image: url("../../public/icons/logo big 1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    height: unset;
    align-items: unset;
    width: 33%;
    position: relative;
  }

  .right-box h1 {
    display: none;
    order: 1;
  }

  .img-div {
    height: 90%;
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
