.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
  position: relative;
}

.magenta {
  background: #ec408b;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*margin-top: -1px !important; 
  margin-bottom: -1px !important; */
}

.wolfi-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.desc-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.wolfi-sm {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.wolfi-lg{
    width: 380px;
}

.wolfi-collection-img{
   display: flex;
   justify-content: center;
}

.wolfi {
  display: none !important;
  align-self: center !important;
}

.desc-collection p {
  color: white;
  width: 300px;
  text-align: left;
  align-self: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 40px;
}

.wolfi-benefits {
  display: flex;
  flex-direction: column;
}

.card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  max-width: 269px;
  height: 347px;
  background: #472d77;
  border-radius: 27px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  padding-bottom: 10px;
}

.card p {
  width: 90%;
  margin: 0;
  text-align: center;
  height: 140px;
}

/* .top-waves {
 
} */

.top-waves {
  width: 100%;
  display: flex;
  margin-bottom: -2px;
}

.down-waves {
  transform: rotate(-180deg);
  margin-top: -2px;
  width: 100%;
  display: flex;
}

@media (min-width: 990px) {
  .wolfi-collection {
    flex-direction: row;
    width: 90%;
  }

 
  .wolfi {
    display: flex !important;
    justify-content: center !important;
  }

  .wolfi-sm {
    display: none !important;
  }

  .desc-collection p {
    width: 572px;
    align-self: unset;
    align-self: center;
    margin-bottom: unset;
  }

  .wolfi-benefits {
    display: flex;
    flex-direction: column;
    justify-content: cente;
    align-items: center;
    width: 100%;
  }
  .card-group {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    width: 22%;
    height: 347px;
    background: #472d77;
    border-radius: 27px;
  }

  .card p {
    width: 90%;
  }
}

@media (min-width: 1100px) {
  .wolfi-collection {
    width: 1026px;
  }
}

@media (min-width: 1260px) {
  .card-group {
    width: 1220px;
  }
}
