.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.top-waves {
  width: 100%;
}

.magenta {
  background: #ec408b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wolfi-collection {
  display: flex;
  width: 100%%;
}

.desc-collection {
  display: flex;
  flex-direction: column;
}

.desc-collection p {
  width: 600px;
}

.wolfi-benefits {
  display: flex;
  flex-direction: column;
  justify-content: cente;
  align-items: center;
  width: 100%;
}
.card-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 22%;
  height: 347px;
  background: #472d77;
  border-radius: 27px;
}

.card p {
  width: 90%;
}

.down-waves {
  transform: rotate(-180deg);
}
